<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="root">

        <!-- <h1>{{reversedMessage}}</h1> -->

        <h2>All tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>

        <h2>Incomplete tasks</h2>

        <ul v-for="task in incompleteTasks">
            <li v-text="task.description"></li><button @click="setComplete(task)">Complete</button>
        </ul>


        <!-- exercise -->
        <h2>Complete tasks</h2>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>

        new Vue({

            el: '#root',

            data: {
                // message: 'Hello World',
                tasks: [
                    { description: 'Go to the store', completed: true },
                    { description: 'Finish screencast', completed: false },
                    { description: 'Make donation', completed: false },
                    { description: 'Clear inbox', completed: false },
                    { description: 'Make dinner', completed: false },
                    { description: 'Clean room', completed: true },
                ]
            },


            methods: {

                setComplete(task) {
                    task.completed = true
                }
            },

            computed: {
                // reversedMessage() {
                //     return this.message.split('').reverse().join('');
                // }

                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed);
                },

                // exercise
                completeTasks() {
                    return this.tasks.filter(task => task.completed);
                },
            }
        })

    </script>

</body>

</html>